{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["ie >= 9"]
      },
      "modules": false
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    },
    "node": {
      "presets": ["env", "stage-2"]
    }
  }
}
